In [1]:
import numpy as np
import pandas as pd

data=pd.read_csv("all_drinks.csv")
print(data.columns)

Index(['Unnamed: 0', 'strDrink', 'dateModified', 'idDrink', 'strAlcoholic',
       'strCategory', 'strDrinkThumb', 'strGlass', 'strIBA', 'strIngredient1',
       'strIngredient10', 'strIngredient11', 'strIngredient12',
       'strIngredient13', 'strIngredient14', 'strIngredient15',
       'strIngredient2', 'strIngredient3', 'strIngredient4', 'strIngredient5',
       'strIngredient6', 'strIngredient7', 'strIngredient8', 'strIngredient9',
       'strInstructions', 'strMeasure1', 'strMeasure10', 'strMeasure11',
       'strMeasure12', 'strMeasure13', 'strMeasure14', 'strMeasure15',
       'strMeasure2', 'strMeasure3', 'strMeasure4', 'strMeasure5',
       'strMeasure6', 'strMeasure7', 'strMeasure8', 'strMeasure9', 'strVideo'],
      dtype='object')

In [2]:
print(data.head())

   Unnamed: 0                              strDrink         dateModified
0           0  '57 Chevy with a White License Plate  2016-07-18 22:49:04  \
1           1                        1-900-FUK-MEUP  2016-07-18 22:27:04
2           2                      110 in the shade  2016-02-03 14:51:57
3           3                151 Florida Bushwacker  2016-07-18 22:28:43
4           4                           155 Belmont  2016-10-05 12:36:28

   idDrink strAlcoholic           strCategory
0    14029    Alcoholic              Cocktail  \
1    15395    Alcoholic                  Shot
2    15423    Alcoholic                  Beer
3    14588    Alcoholic  Milk / Float / Shake
4    15346    Alcoholic              Cocktail

                                       strDrinkThumb             strGlass
0  http://www.thecocktaildb.com/images/media/drin...       Highball glass  \
1  http://www.thecocktaildb.com/images/media/drin...  Old-fashioned glass
2  http://www.thecocktaildb.com/images/media/drin...           Beer Glass
3  http://www.thecocktaildb.com/images/media/drin...             Beer mug
4  http://www.thecocktaildb.com/images/media/drin...     White wine glass

  strIBA  strIngredient1  ... strMeasure15 strMeasure2      strMeasure3
0    NaN  Creme de Cacao  ...          NaN       1 oz                    \
1    NaN  Absolut Kurant  ...          NaN     1/4 oz           1/4 oz
2    NaN           Lager  ...          NaN     1.5 oz
3    NaN      Malibu rum  ...          NaN     1/2 oz   1/2 oz Bacardi
4    NaN        Dark rum  ...          NaN    2 shots           1 shot

   strMeasure4  strMeasure5  strMeasure6 strMeasure7 strMeasure8 strMeasure9
0                                                            NaN         NaN  \
1      1/4 oz       1/4 oz       1/4 oz      1/2 oz      1/4 oz
2                                                            NaN         NaN
3        1 oz         1 oz         3 oz        1 oz       1 cup
4      1 shot

  strVideo
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 41 columns]

In [3]:
ingredient_cols = [col for col in data.columns if 'strIngredient' in col]

data['ingredients'] = data[ingredient_cols].apply(lambda x: ', '.join(x.dropna().astype(str)), axis=1)

data['ingredients'] = data['ingredients'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [4]:
print(data['ingredients'])

0                                  Creme de Cacao, Vodka
1      Absolut Kurant, Grand Marnier, Chambord raspbe...
2                                         Lager, Tequila
3      Malibu rum, Light rum, 151 proof rum, Dark Cre...
4               Dark rum, Light rum, Vodka, Orange juice
                             ...
541                              Amaretto, Rum, Kool-Aid
542                   Cointreau, Lemon juice, Ice, Lemon
543    Beer, Root beer, Lemonade, Coca-Cola, 7-Up, Cr...
544                                          Vodka, Ouzo
545    Sambuca, Bailey's irish cream, White Creme de ...
Name: ingredients, Length: 546, dtype: object

In [5]:
data['strDrink'] = data['strDrink'].str.lower()
data['ingredients'] = data['ingredients'].str.lower()

data['strCategory'] = data['strCategory'].str.lower()
data['strAlcoholic'] = data['strAlcoholic'].str.lower()

In [6]:
data.count()

Unnamed: 0         546
strDrink           546
dateModified       545
idDrink            546
strAlcoholic       545
strCategory        546
strDrinkThumb      546
strGlass           546
strIBA              71
strIngredient1     546
strIngredient10      3
strIngredient11      3
strIngredient12      1
strIngredient13      0
strIngredient14      0
strIngredient15      0
strIngredient2     546
strIngredient3     461
strIngredient4     294
strIngredient5     166
strIngredient6      78
strIngredient7      25
strIngredient8      15
strIngredient9       6
strInstructions    545
strMeasure1        546
strMeasure10       144
strMeasure11        66
strMeasure12        20
strMeasure13        12
strMeasure14         4
strMeasure15         3
strMeasure2        543
strMeasure3        539
strMeasure4        527
strMeasure5        520
strMeasure6        523
strMeasure7        522
strMeasure8        414
strMeasure9        257
strVideo             0
ingredients        546
dtype: int64

In [7]:
df = data.drop_duplicates(subset='strDrink')

In [8]:
df.count()

Unnamed: 0         546
strDrink           546
dateModified       545
idDrink            546
strAlcoholic       545
strCategory        546
strDrinkThumb      546
strGlass           546
strIBA              71
strIngredient1     546
strIngredient10      3
strIngredient11      3
strIngredient12      1
strIngredient13      0
strIngredient14      0
strIngredient15      0
strIngredient2     546
strIngredient3     461
strIngredient4     294
strIngredient5     166
strIngredient6      78
strIngredient7      25
strIngredient8      15
strIngredient9       6
strInstructions    545
strMeasure1        546
strMeasure10       144
strMeasure11        66
strMeasure12        20
strMeasure13        12
strMeasure14         4
strMeasure15         3
strMeasure2        543
strMeasure3        539
strMeasure4        527
strMeasure5        520
strMeasure6        523
strMeasure7        522
strMeasure8        414
strMeasure9        257
strVideo             0
ingredients        546
dtype: int64

In [9]:
df['isAlcoholic'] = df['strAlcoholic'].apply(lambda x: 1 if x == 'alcoholic' else 0)

In [10]:
df.head()

,Unnamed: 0,strDrink,dateModified,idDrink,strAlcoholic,strCategory,strDrinkThumb,strGlass,strIBA,strIngredient1,...,strMeasure3,strMeasure4,strMeasure5,strMeasure6,strMeasure7,strMeasure8,strMeasure9,strVideo,ingredients,isAlcoholic
0,0,'57 chevy with a white license plate,2016-07-18 22:49:04,14029,alcoholic,cocktail,http://www.thecocktaildb.com/images/media/drin...,Highball glass,NaN,Creme de Cacao,...,,,,,,NaN,NaN,NaN,"creme de cacao, vodka",1
1,1,1-900-fuk-meup,2016-07-18 22:27:04,15395,alcoholic,shot,http://www.thecocktaildb.com/images/media/drin...,Old-fashioned glass,NaN,Absolut Kurant,...,1/4 oz,1/4 oz,1/4 oz,1/4 oz,1/2 oz,1/4 oz,,NaN,"absolut kurant, grand marnier, chambord raspbe...",1
2,2,110 in the shade,2016-02-03 14:51:57,15423,alcoholic,beer,http://www.thecocktaildb.com/images/media/drin...,Beer Glass,NaN,Lager,...,,,,,,NaN,NaN,NaN,"lager, tequila",1
3,3,151 florida bushwacker,2016-07-18 22:28:43,14588,alcoholic,milk / float / shake,http://www.thecocktaildb.com/images/media/drin...,Beer mug,NaN,Malibu rum,...,1/2 oz Bacardi,1 oz,1 oz,3 oz,1 oz,1 cup,,NaN,"malibu rum, light rum, 151 proof rum, dark cre...",1
4,4,155 belmont,2016-10-05 12:36:28,15346,alcoholic,cocktail,http://www.thecocktaildb.com/images/media/drin...,White wine glass,NaN,Dark rum,...,1 shot,1 shot,,,,,,NaN,"dark rum, light rum, vodka, orange juice",1

In [11]:
df = df[['strDrink', 'ingredients', 'strCategory', 'isAlcoholic']]
df.head()

,strDrink,ingredients,strCategory,isAlcoholic
0,'57 chevy with a white license plate,"creme de cacao, vodka",cocktail,1
1,1-900-fuk-meup,"absolut kurant, grand marnier, chambord raspbe...",shot,1
2,110 in the shade,"lager, tequila",beer,1
3,151 florida bushwacker,"malibu rum, light rum, 151 proof rum, dark cre...",milk / float / shake,1
4,155 belmont,"dark rum, light rum, vodka, orange juice",cocktail,1

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

tfidf_matrix = tfidf.fit_transform(df['ingredients'])

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [14]:
indices = pd.Series(df.index, index=df['strDrink']).drop_duplicates()

def recommend_cocktails(cocktail_name, cosine_sim=cosine_sim):
    idx = indices[cocktail_name]

    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:11]

    cocktail_indices = [i[0] for i in sim_scores]

    return df['strDrink'].iloc[cocktail_indices]

print(recommend_cocktails('margarita'))

323                 kamikaze
483     strawberry margarita
150           blue margarita
512                  vampiro
45                 adam bomb
527               white lady
54     after dinner cocktail
392             orange crush
241          flying dutchman
158           boston sidecar
Name: strDrink, dtype: object

In [16]:
from collections import Counter

def recommend_for_favorites(favorites, num_recommendations=25, num_random=5):
    recommendations_count = Counter()

    # Pour chaque cocktail favori, obtenir des recommandations
    for favorite in favorites:
        similar_cocktails = recommend_cocktails(favorite)
        recommendations_count.update(similar_cocktails)

    top_recommendations = [cocktail for cocktail, _ in recommendations_count.most_common(num_recommendations)]

    random_cocktails = df['strDrink'].sample(num_random).tolist()
    final_recommendations = top_recommendations + random_cocktails

    return final_recommendations

#Simulation of utilisation
favorites = ['margarita', 'mojito', 'old fashioned']
print(recommend_for_favorites(favorites))

['kamikaze', 'strawberry margarita', 'blue margarita', 'vampiro', 'adam bomb', 'white lady', 'after dinner cocktail', 'orange crush', 'flying dutchman', 'boston sidecar', 'frozen mint daiquiri', 'limeade', 'acapulco', 'autodafé', 'daiquiri', 'frozen pineapple daiquiri', 'jitterbug', 'gin smash', 'gin rickey', 'rum cooler', 'classic old-fashioned', 'manhattan', 'long vodka', 'abbey martini', 'bourbon sling', 'a piece of ass', 'fruit shake', 'blue lagoon', 'angelica liqueur', "mother's milk"]